pytest
pytest-cov
pandas
tests4py
pytest-twisted
twisted
ollama
numpy
pydantic<1.0
pytest-httpbin<0.1
mock
pytest-xdist
matplotlib
Cython==0.29.37
future
starlette==0.13.2
python-toolbox
decorator
httpx<0.24